.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.image {
  height: 140px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heading {
  font-family: 'roboto';
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.heading2 {
  font-family: 'roboto';
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.para {
  font-family: 'roboto';
  color: white;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.button1 {
  background-color: #0b69ff;
  border-radius: 10px;
  color: white;
  margin: 10px;
  border-width: 10px;
  border-color: black;
  cursor: pointer;
  outline: none;
}
.button1 {
  background-color: transparent;
  border-radius: 10px;
  color: white;
  margin: 10px;
  border-width: 10px;
  border-color: black;
  cursor: pointer;
  outline: none;
}
